<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonathan Sudiaman</title>

    <link rel="stylesheet" href="vendor/lightbox/lightbox.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendor/tacit/tacit-css-1.5.3.min.css">
</head>
<body>
<section>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="images/profile.jpg" alt="Profile Picture" style="border-radius: 50%; height: 150px"></a></li>
            </ul>
        </nav>
    </header>
    <article>
        {{content}}
    </article>
    <footer>
        <nav>
            <ul>
                <li><a href="http://linkedin.com/in/jonathansudiaman"><i class="fab fa-linkedin fa-2x"></i></a></li>
                <li><a href="http://github.com/sudiamanj"><i class="fab fa-github fa-2x"></i></a></li>
                <li><a href="http://fosstodon.org/web/@sudicode"><i class="fab fa-mastodon fa-2x"></i></a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>
                    <a href="https://stackoverflow.com/users/6268626/jonathan-sudiaman"><img src="https://stackoverflow.com/users/flair/6268626.png?theme=clean" width="208" height="58" alt="profile for Jonathan Sudiaman at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Jonathan Sudiaman at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><code><i class="fas fa-envelope"></i> jonathan@sudicode.com</code></li>
            </ul>
        </nav>
    </footer>
</section>
<script src="vendor/lightbox/lightbox.js"></script>
</body>
</html>
