<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if page.title -%}
        <title>Jonathan Sudiaman | {{ page.title }}</title>
    {%- else -%}
        <title>Jonathan Sudiaman</title>
    {%- endif -%}

    <link rel="stylesheet" href="/vendor/lightbox/lightbox.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendor/tacit/tacit-css-1.5.3.min.css">
    <link rel="stylesheet" href="/vendor/highlight/styles/xcode.min.css">
    <style>
        @media (max-width: 767px) {
            td.blog-post-title {
                min-width: 100vw;
            }
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.webmanifest">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<section>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/images/profile.jpg" alt="Profile Picture" style="border-radius: 50%; height: 150px"></a></li>
            </ul>
        </nav>
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/blog">blog</a></li>
          </ul>
        </nav>
    </header>
    <article>
        {%- if page.title and page.date -%}
            <h1 style="margin-top: 0">{{ page.title }}</h1>
            <code><i class="fas fa-calendar-day"></i> {{ page.date | date: site.date_format }}</code>
            <code><i class="fas fa-stopwatch"></i> {{ content | number_of_words | divided_by: site.estimated_wpm }} minute read</code>
            <hr>
        {%- endif -%}
        {{content}}
        {%- if page.title and page.date -%}
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://sudicode.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {%- endif -%}
    </article>
    <footer>
        <nav>
            <ul>
                <li><a href="mailto:jonathan@sudicode.com"><i class="fas fa-envelope fa-lg"></i></a></li>
                <li><a href="http://linkedin.com/in/jonathansudiaman"><i class="fab fa-linkedin fa-lg"></i></a></li>
                <li><a href="http://github.com/jsudiaman"><i class="fab fa-github fa-lg"></i></a></li>
                <li><a href="https://stackoverflow.com/users/6268626/jonathan-sudiaman"><i class="fab fa-stack-overflow fa-lg"></i></a></li>
                <li><a href="https://getpocket.com/sharedlists/e0a9901f-8fef-4924-8f16-a68367d990b8/sudis-pocket"><i class="fab fa-get-pocket fa-lg"></i></a></li>
                <li><a href="https://jsudiaman.bsky.social"><i class="fas fa-cloud fa-lg"></i></a></li>
                <li><a href="/feed.xml"><i class="fas fa-rss fa-lg"></i></a></li>
            </ul>
        </nav>
    </footer>
</section>
<script src="/vendor/lightbox/lightbox.js"></script>
<script src="/vendor/highlight/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>
</body>
</html>
