<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonathan Sudiaman</title>

    <link rel="stylesheet" href="vendor/lightbox/lightbox.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendor/tacit/tacit-css-1.5.3.min.css">
</head>
<body>
<section>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="images/profile.jpg" alt="Profile Picture" style="border-radius: 50%; height: 150px"></a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/interests">interests</a></li>
                <li><a href="/pgp">pgp</a></li>
            </ul>
        </nav>
    </header>
    <article>
        {{content}}
    </article>
    <footer>
        <nav>
            <ul>
                <li><a href="http://linkedin.com/in/jonathansudiaman"><i class="fab fa-linkedin fa-2x"></i></a></li>
                <li><a href="http://stackoverflow.com/users/6268626"><i class="fab fa-stack-overflow fa-2x"></i></a></li>
                <li><a href="http://github.com/sudiamanj"><i class="fab fa-github fa-2x"></i></a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><code><i class="fas fa-envelope"></i> jonathan@sudicode.com</code></li>
            </ul>
        </nav>
        <nav>
            <small id="message-scroller"></small>
        </nav>
    </footer>
</section>
<script src="vendor/lightbox/lightbox.js"></script>
<script src="scroller.js"></script>
<script>
    var messages = [
        "This website doesn't use cookies."
    ];
    new Scroller( document.getElementById( "message-scroller" ), messages ).render();
</script>
</body>
</html>
